* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  padding: 16px;
}

header h1 {
  width: 70%;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ul li {
  list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  transition: color 0.3s;
  color: red;
}

.navLink.active {
  color: red;
}

.mainHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/professional-chef-preparing-food-kitchen.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.mainFood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/2148340392.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.mainWines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/2147764837.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.mainContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/pensive-man-sitting-bar-counter.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.restaurantTitle {
  font-weight: bold;
  font-size: 4rem;
  color: black;
}

.theRestaurant {
  font-weight: bold;
  margin-top: 30px;
}

.onlineReservation {
  margin-top: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.onlineReservation:hover {
  transition-duration: 0.3s;
  background-color: white;
  color: black;
}

.restaurantIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 60px 0;
}

.newsHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  margin: 180px 0;
}

.news h2 {
  font-size: 2rem;
  border-bottom: 1px black solid;
  margin-bottom: 20px;
}

.news h3 {
  text-align: center;
  margin-bottom: 5px;
}

.news p {
  width: 70%;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 16px;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  header h1 {
    width: 100%;
  }

  ul {
    flex-direction: column;
    gap: 20px;
  }

  .mainLink {
    color: red;
  }

  .mainHome {
    background-image: url("/images/minimalist-salad-round-shape-salt.webp");
    background-size: cover;
    background-position: center;
  }

  .mainFood {
    background-image: url("/images/uncooked-seafood-fish-pan.webp");
    background-size: cover;
    background-position: center;
  }

  .mainWines {
    background-image: url("/images/vertical-grayscale-shot-glass-wooden-table-inside-closet.webp");
    background-size: cover;
    background-position: center;
  }

  .mainContact {
    background-image: url("/images/black-white-portrait-working-woman-celebration-labour-day.webp");
    background-size: cover;
    background-position: center;
  }

  .restaurantIntro {
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
  }

  .restaurantTitle {
    font-size: 2rem;
  }

  .news {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .newsHome {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .news p {
    width: 100%;
  }

  footer p {
    width: 90%;
    text-align: center;
  }
}

